.is-clickable {
    cursor: pointer;
}

.main-container {
    min-height: 60vh;
}

.section {
    padding: 1rem;
}

.img-inactive {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

.img-inactive:hover {
    -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
    filter: grayscale(0%);
}

.build-order-item {
    padding: 5px 0;
    border-bottom: 1px solid whitesmoke;
    transition: all 0.5s ease;
}

.build-order-item:last-child {
    border-bottom: none;
}

.build-order-item-indent-1 {
    padding-left: 24px;
    margin-left: 24px;
    border-left: 2px solid whitesmoke;
}

.build-order-item-indent-2 {
    padding-left: 24px;
    margin-left: 74px;
    border-left: 2px solid whitesmoke;
}

.build-order-item-indent-3 {
    padding-left: 24px;
    margin-left: 124px;
    border-left: 2px solid whitesmoke;
}

.action-image-container {
    position: relative;
}

.action-image-count {
    width: 100%;
    height: 100%;
    display: inline-block;
    left: 0;
    z-index: 100;
    position: absolute;
    top: -32px;
    text-align: center;
    color: white;
    text-shadow: 0 0 5px #000000;
}

.is-vertical-top {
    display: flex;
    align-items: flex-start;
}

.embedding-box {
    border-radius: 5px;
    padding: 10px;
}

.edit-info {
    padding: 5px;
}

.text-with-linebreaks {
    white-space: pre-line;
}

.text-summary {
    overflow: hidden;
    max-height: 144px;
}
